body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #a2a8d3;
}

img {
  max-width: 100%;
}

.card {
  background-color: black;
  color: pink;
  padding: 4em;
  padding-right: 40px;
  padding-top: 35px;
  padding-bottom: 0;
  border-radius: 15px;
  max-width: 420px;
  margin: 1em;
}

.city {
  padding-top: 20px;
  font-weight: bold;
  color: coral;
  text-align: left;
  font-size: 35px;
  text-transform: capitalize;
}

.temp {
  font-weight: bold;
  color: pink;
}

.fa-cloud {
  text-align: center;
  padding-top: 20px;
  font-size: 55px;
  color: white;
}

button {
  background-color: pink;
  color: white;
  border-radius: 7px;
  border-color: pink;
  padding: 2px 3px 2px 3px;
}

button:hover {
  color: black;
  border-color: black;
  transition: ease-in-out 2ms;
}

#input {
  background-color: white;
  border-color: white;
  color: black;
  padding: 1px;
  border-radius: 5px;
}

#current-btn {
  padding: 1px;
  background-color: pink;
  color: white;
}

#current-btn:hover {
  color: black;
  border-color: black;
  transition: ease-in-out 10ms;
}

#Search-btn {
  color: white;
  padding: 1px;
}
#Search-btn:hover {
  color: black;
  border-color: black;
  transition: ease-in-out 10ms;
}

h3 {
  font-size: 20px;
  color: coral;
  text-align: left;
}

h4 {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 0 auto;
  color: coral;
}

#descriptionText,
#humidityText,
#windSpeedText {
  color: pink;
  font-weight: bold;
  font-size: 14px;
}

.looksLike,
.humidity-percentage,
.Km-h {
  text-align: left;
  color: white;
  font-size: 13px;
  text-transform: capitalize;
  display: block;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0 auto;
}

.col {
  display: inline-block;
  color: pink;
  padding-top: 10px;
  padding-right: 4px;
  padding-left: 0;
  font-size: 13px;
}

.border {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin: 0 auto;
  color: pink;
}

.footer {
  color: grey;
}

a {
  color: grey;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

#units {
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

#celcius-link {
  color: grey;
}

#celcius-link:hover {
  color: white;
}

#farenheit-link {
  color: grey;
}

#farenheit-link:hover {
  color: #ffffff;
}

.footer {
  padding-left: 17px;
  text-align: center;
}

#icon {
  width: 300px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.col-3 {
  padding-right: 15px;
}

.weatherTemp .active {
  color: pink;
  cursor: default;
}

.weatherTemp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 45px;
}

.weather-forecast-date {
  font-size: 13px;
  color: pink;
}

.weather-forecast-temperature-max {
  color: pink;
  font-size: 15px;
}

.weather-forecast-temperature-min {
  color: #ffffff;
  font-weight: bold;
}
.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature:hover {
  background-color: coral;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}
.col {
  display: inline-block;
}
